*,
*::before *::after {
    box-sizing: border-box;
}

*{
    font-family: 'Roboto', sans-serif;
}

.bg-blue{

    background-repeat: none;
    background-color: aqua;
    padding: 10rem 0;
    
}
.intro{
    margin-left: 2em;
}
.icons{
    margin-left: 1em;
    font-size: 2rem;
    
}
.split {
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.4rem;
}
img {
    display: block;
    max-width: 100%;

}

@media (min-width: 40em) {
    .split {
        flex-direction: row;
    }

    .split>* {
        flex-basis: 100%;
    }

    .split>*+* {
        margin-left: 2em;
    }
}

header,
section {
    padding: 3rem 0;
}

@media(min-width: 40rem; ){

    header,
    section {
        padding: 7rem 0;

    }
}



    .container {
        margin-inline: auto;
        width: min(90%, 70.5rem);
    }

    button{
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
        padding: 12px 30px;
        border: 0;
        border-radius: 8px;
        font-size: 20px;
        color: aliceblue;
        font-weight: bold;
        letter-spacing: 1px;
        transform: .3s;